.sobremim{
    background-color: var(--background-azul);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.sobremim__titulo{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6rem;

    margin-bottom: 1rem;
    margin-top: 2rem;
}

.sobremim__descricao{
    font-weight: 400;
    font-size: 1.2rem; 
    line-height: 2rem;
    margin-bottom: 1rem;
}

.sobremim__assinatura{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .sobremim__titulo{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .sobremim__descricao{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}